* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Biko;
  text-align: center;
  list-style-type: none; }

body {
  width: calc(100% - 0); }

@font-face {
  font-family: Biko;
  src: url(/estilos/biko_font/Biko_Regular.otf); }

@font-face {
  font-family: BikoBold;
  src: url(/estilos/biko_font/Biko_Bold.otf); }

.heartbeat {
  -webkit-animation: heartbeat 5.5s linear 6s infinite both;
  animation: heartbeat 5.5s linear 6s infinite both; }

.pulsate-bck {
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
  animation: pulsate-bck 0.5s ease-in-out infinite both; }

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both; }

/*KEYFRAME pulsacion*/
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*KEYFRAME pulsacion*/
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*KEYFRAME latido*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

/*KEYFRAME latido*/
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea; }
  100% {
    background: #b22cff; } }

@keyframes color-change-2x {
  0% {
    background: #f6fbfc; }
  100% {
    background: #d9fa8b69; } }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .header--efect {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both; }
  .header__logo {
    margin: 2px;
    width: auto; }
    .header__logo__img {
      width: 250px; }
  .header__hide {
    font-size: 0px; }
  .header__ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding-right: 25px; }
    .header__ul__li {
      justify-content: center;
      margin-left: 75px; }
      .header__ul__li__a {
        text-decoration: none; }
        .header__ul__li__a__text--color {
          color: black; }
      .header__ul__li:hover {
        /*@import pulsate-bck;*/
        -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
        animation: pulsate-bck 0.5s ease-in-out infinite both; }
    .header__ul__responsive {
      display: none; }

/*Media Queries  1100-650*/
@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .header {
    height: 100px; }
    .header__ul {
      display: none; }
      .header__ul__responsive {
        display: flex;
        margin-bottom: 0; }
        .header__ul__responsive__li {
          margin-right: 18px; }
          .header__ul__responsive__li__a__img {
            width: 42px; } }

/*Media Queries  649-320*/
@media only screen and (max-width: 650px) and (min-width: 320px) {
  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 300px;
    padding-bottom: 30px; }
    .header__ul {
      display: none; }
      .header__ul__responsive {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20%;
        padding: 0; }
        .header__ul__responsive__li__a__img {
          width: 60px; } }

.carousel-inner {
  border-radius: 1%; }

.carousel-item {
  max-height: 800px; }

.carousel__img--size {
  object-fit: contain; }

.carousel__arrows {
  border-radius: 50%; }

/*Media Queries  1100-650*/
@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .carousel {
    margin: 20px 0px 10px 0px; } }

/*Media Queries  649-320*/
@media only screen and (max-width: 650px) and (min-width: 320px) {
  .carousel {
    margin: 20px 0px 10px 0px; } }

.main__titulo__h2 {
  font-family: BikoBold;
  font-size: 10vw;
  text-shadow: 5px -2px rgba(15, 15, 15, 0.575); }

.main__destacados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding-top: 5px;
  margin: 5px 5px; }
  .main__destacados__cardbox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.897);
    border-radius: 25px; }
    .main__destacados__cardbox:hover {
      box-shadow: 0px 0px 30px 5px rgba(15, 15, 15, 0.575); }
    .main__destacados__cardbox__h3 {
      text-decoration: underline; }
    .main__destacados__cardbox__texto {
      text-align: justify; }
    .main__destacados__cardbox__img {
      width: 100%;
      border-radius: 5%;
      border: 1px dotted rgba(0, 0, 0, 0.897); }

/*Media Queries  1100-650*/
@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .main__cardbox:hover {
    cursor: unset; } }

/*Media Queries  649-320*/
@media only screen and (max-width: 650px) and (min-width: 320px) {
  .main__titulo__h2 {
    text-shadow: 2px -2px rgba(15, 15, 15, 0.575); }
  .main__destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px; }
  .main__cardbox:hover {
    cursor: unset; } }

.main__productos {
  background: #959090;
  background: linear-gradient(180deg, rgba(149, 144, 144, 0.28055) 0%, rgba(0, 0, 0, 0.515844) 100%);
  padding-bottom: 50px; }
  .main__productos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "div div" "div div";
    justify-items: center;
    align-items: center;
    gap: 2em;
    padding-top: 15px;
    /* 1er @for > Cantidad de htmls , en mi caso tengo 4 productos con el mismo main*/
    /* 2do @for > Cantidad de imagenes que quiero agregar*/
    /*Cambie le nombre de las imagenes a la forma ixn , por ejemplo remera es el 1er html entonces la 1er imagen de remera va a ser 1x1, la segunda 1x2 y asi con todas las imagenes, a medida q agrego imagenes agreo un div con la clase ixn*/ }
    .main__productos__grid__1x1 {
      width: 500px;
      height: 550px;
      background-image: url(./img/11.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__1x2 {
      width: 500px;
      height: 550px;
      background-image: url(./img/12.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__1x3 {
      width: 500px;
      height: 550px;
      background-image: url(./img/13.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__1x4 {
      width: 500px;
      height: 550px;
      background-image: url(./img/14.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__2x1 {
      width: 500px;
      height: 550px;
      background-image: url(./img/21.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__2x2 {
      width: 500px;
      height: 550px;
      background-image: url(./img/22.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__2x3 {
      width: 500px;
      height: 550px;
      background-image: url(./img/23.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__2x4 {
      width: 500px;
      height: 550px;
      background-image: url(./img/24.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__3x1 {
      width: 500px;
      height: 550px;
      background-image: url(./img/31.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__3x2 {
      width: 500px;
      height: 550px;
      background-image: url(./img/32.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__3x3 {
      width: 500px;
      height: 550px;
      background-image: url(./img/33.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__3x4 {
      width: 500px;
      height: 550px;
      background-image: url(./img/34.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__4x1 {
      width: 500px;
      height: 550px;
      background-image: url(./img/41.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__4x2 {
      width: 500px;
      height: 550px;
      background-image: url(./img/42.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__4x3 {
      width: 500px;
      height: 550px;
      background-image: url(./img/43.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }
    .main__productos__grid__4x4 {
      width: 500px;
      height: 550px;
      background-image: url(./img/44.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid black;
      border-radius: 10px; }

/*Media Queries  1100-650*/
@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .main__productos__grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "div" "div" "div" "div"; }
    .main__productos__grid__1x1 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__1x2 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__1x3 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__1x4 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__2x1 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__2x2 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__2x3 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__2x4 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__3x1 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__3x2 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__3x3 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__3x4 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__4x1 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__4x2 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__4x3 {
      width: 600px;
      height: 700px; }
    .main__productos__grid__4x4 {
      width: 600px;
      height: 700px; } }

/*Media Queries  649-320*/
@media only screen and (max-width: 650px) and (min-width: 320px) {
  .main__productos__grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "div" "div" "div" "div"; }
    .main__productos__grid__1x1 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__1x2 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__1x3 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__1x4 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__2x1 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__2x2 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__2x3 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__2x4 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__3x1 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__3x2 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__3x3 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__3x4 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__4x1 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__4x2 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__4x3 {
      width: 300px;
      height: 400px; }
    .main__productos__grid__4x4 {
      width: 300px;
      height: 400px; } }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.897); }
  .footer__datos__texto {
    text-align: center;
    color: #b1acac;
    margin-bottom: 1rem; }
  .footer__datos--size {
    font-size: 2em; }
  .footer__linea {
    height: 60%;
    width: 5px;
    background-color: #b1acac;
    border-radius: 50%; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
    align-items: center;
    height: unset;
    margin-top: unset; }
    .footer__redes__icon--color {
      color: #b1acac; }
    .footer__redes__icon--size {
      font-size: 3em; }
    .footer__redes__icon--efect {
      -webkit-animation: heartbeat 10s linear 6s infinite both;
      animation: heartbeat 10s linear 6s infinite both; }

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    height: 350px;
    padding-top: 25px; }
    .footer__datos__texto {
      text-align: center; }
    .footer__linea {
      width: 60%;
      height: 5px;
      background-color: #83837f;
      border-radius: 50%; }
    .footer__redes {
      gap: 15px; } }

/*Media Queries  1100-650*/
@media only screen and (max-width: 1100px) and (min-width: 650px) {
  .footer__redes {
    gap: 2.1em; } }

/*Media Queries  649-320*/
@media only screen and (max-width: 650px) and (min-width: 320px) {
  .footer {
    flex-direction: column-reverse;
    height: 350px;
    padding-top: 25px; }
    .footer__datos__texto {
      text-align: center; }
    .footer__linea {
      width: 60%;
      height: 5px;
      background-color: #83837f;
      border-radius: 50%; }
    .footer__redes {
      gap: 15px; } }
