@mixin transition-all {
  transition: all 200ms ease-in-out;
}

.button__container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: auto;
  background-color: $bgcolor;
}

.btn {
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: 0.8em 1em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: -0.5em 0.5em transparentize($button-color, 1);
  transform-origin: left bottom;
  @include transition-all;
  margin-top: 6vw;
  margin-bottom: 6vw;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }

  // SIDE
  &:before {
    left: -0.59em;
    top: 0.15em;
    width: 0.31em;
    height: 100%;
    transform: skewY(-45deg);
  }

  // BOTTOM
  &:after {
    bottom: -0.61em;
    right: 0.16em;
    width: 100%;
    height: 0.31em;
    transform: skewX(-45deg);
  }

  // Shadow
  &:hover {
    //border-image-slice: 1;
    background-size: 90%;
    transform: translate(0.5em, -0.5em);
    box-shadow: -1em 1em 0.15em transparentize($button-color, 0.9);
    // box-shadow: -1em 1em 1em transparentize($blue-color,.9), -1em 1.9em 1.9em transparentize($button-color,.9), 0em .38em .38em transparentize($button-color,.9), 0em .76em .76em transparentize($button-color,.9), 0em 1.52em 1.52em transparentize($button-color,.9);
  }
}

.bg {
  background: none;
  border: 3px solid $button-color;
  color: $button-color;

  &:before,
  &:after {
    background: $button-color;
    border: 3px solid $button-color;
  }

  &:hover {
    border-image: none;

    &:before,
    &:after {
      background: $button-color;
    }
  }
}
