.carousel{

    margin: 20px 0px 10px 0px;

    &-inner{
        border-radius: 1%;
    }

    &-item{
    max-height: 800px;
    }

    &__img--size{
        object-fit: contain;
    }

    &__arrows{
        border-radius: 50%;
    }
    
}