.webBy{
    color: rgba(255, 255, 255, 0.521);
    position: fixed;
    z-index: 1;
    bottom: 1%;
    left: 0.1%;
    font-size: 0.5em;
    text-decoration: none;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
}