@font-face {
  font-family: Biko;
  src: url(/estilos/biko_font/Biko_Regular.otf);
}

@font-face {
  font-family: BikoBold;
  src: url(/estilos/biko_font/Biko_Bold.otf);
}

@font-face {
  font-family: Adenium;
  src: url(/estilos/adenium/Adenium.otf);
}

@font-face {
  font-family: Equinox;
  src: url(/estilos/equinox/EquinoxRegular.otf);
}

@font-face {
  font-family: EquinoxBold;
  src: url(/estilos/equinox/EquinoxBold.otf);
}
