.main{

    &__grid{
    display: grid;
    grid-template-columns: $grid-2x2-colums ;
    grid-template-rows: $grid-2x2-rows;
    justify-items: center;
    align-items: center;
    gap: 1em;
    }

    &__grid__img{
        width: 100%;
    }
}