.main{

    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $bgcolor;  
    
    &__titulo__h2{
        font-family: BikoBold;
        font-size: 10vw;
        text-shadow: 5px -2px $shadowcolor2;
    }

    &__destacados{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
        padding: 5px 10px 0px 10px;
    
        &__cardbox{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: space-between;
            border: 2px solid $color-black;
            border-radius: 25px;

            &:hover{
                box-shadow: 0px 0px 30px 5px $shadowcolor2;
            }
            
            &__h3{
                font-family: BikoBold;
                text-decoration: underline;
            }

            &__texto{
                text-align: justify;
                line-height: 200%;

                &__palabra{
                    color: #C10230;
                    font-size: x-large;
                }
            }

            &__img{
                width: 100%;
                border-radius: 5%;
                border: 2px dotted $color-black;
            }
        }
    }
}

/*Media Queries  1100-650*/
@media only screen and (max-width: $pcxl) and (min-width: $tablet){
    .main__cardbox:hover{
       cursor: unset;
  }
}

/*Media Queries  649-320*/
@media only screen and (max-width: $tablet) and (min-width: $smartphone){
    .main{
    
        &__titulo__h2{
        text-shadow: 2px -2px $shadowcolor2;
        }
    
        &__destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 45px;
        }

        &__cardbox:hover{
        cursor: unset;
        }
    }
}

